{% extends 'base.html' %}
{% load public_extras %}
{% load staticfiles %}

{% block banner_block %}
    <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-banner-container">
                <div class="slider-banner-fullwidth">
                    <ul class="slides">
                        <!-- slide 1 start -->
                        <!-- ================ -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on"
                            data-title="CDCOL">

                            <!-- main image -->
                            <img src="{% static 'images/banner-home.jpg' %}" alt="slidebg2" data-bgposition="center top"
                                 data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="600"
                                 data-start="0">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sfb fadeout text-center large_white"
                                 data-x="center"
                                 data-y="110"
                                 data-speed="500"
                                 data-start="1000"
                                 data-easing="easeOutQuad">CDCOL
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfb fadeout text-center large_white tp-resizeme hidden-xs"
                                 data-x="center"
                                 data-y="150"
                                 data-speed="500"
                                 data-start="1300"
                                 data-easing="easeOutQuad">
                                <div class="separator light"></div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfb fadeout medium_white text-center hidden-xs"
                                 data-x="center"
                                 data-y="180"
                                 data-speed="500"
                                 data-start="1300"
                                 data-easing="easeOutQuad"
                                 data-endspeed="600">Cubo de Datos de Imágenes de Satélite de Colombia
                            </div>

                        </li>
                        <!-- slide 1 end -->
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
{% endblock %}

{% block content %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container padding-bottom-clear">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3 class="title">Módulo Disponibles</h3>

                    <div class="separator-2"></div>
                    <!-- page-title end -->
                </div>
                <!-- main end -->

            </div>
        </div>

        <!-- Icon Boxes start -->
        <!-- ============================================================================== -->
        <div class="container">
            <p>Selecciona el módulo al que desea acceder:</p>
        </div>
        <!-- section -->
        <!-- ================ -->
        <section class="light-gray-bg pv-30 padding-bottom-clear clearfix">
            <div class="container">
                    <div class="row">
                        {% if perms.storage.can_list_units %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                                    <h3><a href="{% url 'storage:index' %}">Almacenamiento</a></h3>
                                    <div class="separator clearfix"></div>
                                    <p>Administre la unidades de almacenamiento y explore la información que hay en el cubo
                                        de datos.</p>
                                    <a href="{% url 'storage:index' %}">Ir al módulo<i class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.ingest.can_list_storage_tasks %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                                    <h3><a href="{% url 'ingest:index' %}">Tareas de ingesta</a></h3>
                                    <div class="separator clearfix"></div>
                                    <p>Gestione y programe las tareas de ingesta de imágenes que son ejecutadas todos los
                                        días a las 2:00 AM.</p>
                                    <a href="{% url 'ingest:index' %}">Ir al módulo<i class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.template.can_list_yaml_templates %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                                    <h3><a href="{% url 'template:index' %}">Plantillas YAML</a></h3>
                                    <div class="separator clearfix"></div>
                                    <p>Descargue las plantillas de archivos YML necesarios para la descripción e ingesta de
                                        unidades de almacenamiento.</p>
                                    <a href="{% url 'template:index' %}">Ir al módulo<i class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.ingest_template.can_list_ingest_templates %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                                    <h3><a href="{% url 'ingest_template:index' %}">Script de metadatos</a></h3>
                                    <div class="separator clearfix"></div>
                                    <p>Descargue los scripts requeridos para el proceso de generación de metadatos en la
                                        ingesta de unidades de almacenamiento.</p>
                                    <a href="{% url 'ingest_template:index' %}">Ir al módulo<i
                                            class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.algorithm.can_list_algorithms %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                                    <h3><a href="{% url 'algorithm:index' %}">Mis algoritmos</a></h3>
                                    <div class="separator clearfix"></div>
                                    <p>Gestione los algoritmos, versiones y parámetros que ha creado en el sistema. para
                                        que
                                        los analistas los ejecuten.</p>
                                    <a href="{% url 'algorithm:index' %}">Ir al módulo<i
                                            class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.execution.can_view_blank_execution %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                                    <h3><a href="{% url 'execution:new_blank_execution' %}">Algoritmos</a></h3>
                                    <div class="separator clearfix"></div>
                                    <p>Conozca los algortimos que hay disponibles y utilícelos para ejecutar análisis sobre
                                        las imágenes del cubo.</p>
                                    <a href="{% url 'execution:new_blank_execution' %}">Ir al módulo<i class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.execution.can_list_executions %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                                    <h3>Ejecuciones</h3>
                                    <div class="separator clearfix"></div>
                                    <p>Monitoree y acceda a los resultados de las ejeuciones de análisis que ha realizado
                                        sobre las imágenes del cubo.</p>
                                    <a href="{% url 'execution:index' %}">Ir al módulo<i class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                        {% if perms.algorithm.can_list_versions %}
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                                    <h3>Revisión de Versiones</h3>
                                    <div class="separator clearfix"></div>
                                    <p>Revise las versiones de algoritmos entregadas por los desarrolladores para su posterior publciación.</p>
                                    <a href="{% url 'algorithm:version_review_list' %}">Ir al módulo<i class="pl-5 fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </section>
        <!-- section end -->
        <!-- section -->
        <!-- ================ -->
    </section>
    <!-- main-container end -->
{% endblock %}
