{% extends 'base.html' %}
{% load execution_extras %}
{% block extra_head %}
    <script type="text/javascript">
        {% if execution.state == '1' or execution.state == '2' %}
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);", timeoutPeriod);
            }
            window.onload = timedRefresh({{ temporizer_value }});
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'execution:index' %}">Ejecuciones</a></li>
                <li class="active">Detalle</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3 class="page-title">Información de la ejecución</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Esta es la información de la ejecución seleccionada.</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Código de la ejecución:</td>
                            <td>{{ execution.id }}</td>
                        </tr>
                        <tr>
                            <td>Algoritmo:</td>
                            <td>{{ execution.version.algorithm.name }}</td>
                        </tr>
                        <tr>
                            <td>Versión:</td>
                            <td>{{ execution.version.number }}</td>
                        </tr>
                        <tr>
                            <td>Estado:</td>
                            {% if execution.state == '1' and current_executions.count >= 0 %}
                                <td>{{ execution.get_state_display }} <span class="label label-danger" data-toggle="tooltip" title="Hay {{ current_executions.count }} ejecuciones en espera antes de que esta comience su ejecución" data-placement="right">{{ current_executions.count }}</span></td>
                            {% else %}
                                <td>{{ execution.get_state_display }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Fecha de Creación:</td>
                            {% if execution.created_at %}
                                <td>{{ execution.created_at}}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Inicio ejecución:</td>
                            {% if execution.started_at %}
                                <td>{{ execution.started_at }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Fin ejecución:</td>
                            {% if execution.finished_at %}
                                 <td>{{ execution.finished_at }}</td>
                            {% else %}
                                <td>---</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Creada por:</td>
                            <td>{{ execution.executed_by.email }}</td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td>{{ execution.description | linebreaks }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="page-title">Parámetros de la ejecución</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Los parámetros de la ejecución son los siguientes:</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Genera Mosaico</td>
                            <td>{{ execution.generate_mosaic }}</td>
                        </tr>
                        {% for param in executed_params %}
                            {% if param.parameter.parameter_type == '7' %}
                                <tr>
                                    <td>{{ param.parameter.name }} (Latitud mínima)</td>
                                    <td>{{ param.obtain_json_values.latitude_start }}</td>
                                </tr>
                                <tr>
                                    <td>{{ param.parameter.name }} (Latitud máxima)</td>
                                    <td>{{ param.obtain_json_values.latitude_end }}</td>
                                </tr>
                                <tr>
                                    <td>{{ param.parameter.name }} (Longitud  mínima)</td>
                                    <td>{{ param.obtain_json_values.longitude_start }}</td>
                                </tr>
                                <tr>
                                    <td>{{ param.parameter.name }} (Longitud máxima)</td>
                                    <td>{{ param.obtain_json_values.longitude_end }}</td>
                                </tr>
                            {% elif param.parameter.parameter_type == '8' or param.parameter.parameter_type == '13' %}
                                <td>{{ param.parameter.name }}</td>
                                <td>{{ param.obtain_value | get_storage_unit}}</td>
                            {% else %}
                                <tr>
                                    <td>{{ param.parameter.name }}</td>
                                    <td>{{ param.obtain_value}}</td>
                                    {% if param.parameter.parameter_type == '12' %}
                                        <td>
                                            <a href="{% url 'execution:download_parameter_file' execution.id param.parameter.name param.filetype.file_name %}" class="btn btn-gray btn-sm"><i class="fa fa-bars"></i> Descargar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if execution.results_deleted_at %}
                        <h3 class="page-title">Resultados generados</h3>
                        <div class="separator-2"></div>
                        <p><span class="label label-danger">Los archivos fueron eliminados el {{ execution.results_deleted_at }}</span></p>
                    {% else %}
                        {% if files %}
                            <h3 class="page-title">Resultados generados</h3>
                            <div class="separator-2"></div>
                            <div class="pull-right">
                                <a href="{% url 'execution:delete_result' execution.id 'all' %}" onclick="return confirm('¿Está seguro de eliminar todos los resultados de la ejecución?')" class="btn btn-danger btn-md"><i
                                    class="fa fa-trash-o"></i> Eliminar todo</a>
                            </div>
                            <p>A continuación se encuentran los archivos generados por esta ejecución:</p>

                            {% if delete_time %}
                                <p><span class="label label-warning">Estos archivos serán borrados el {{ delete_time }}</span></p>
                            {% endif %}
                            {% if response_message %}
                                <p><span class="label label-danger">{{ response_message }}</span></p>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-colored">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Latitud</th>
                                                <th>Longitud</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if tiff_message %}
                                                <script>
                                                    alert({{ tiff_message }});
                                                </script>
                                            {% endif %}
                                            {% for file in files %}
                                                <tr>
                                                    {% if ".gif" in file.file %}
                                                        <td><img src="{{ system_path }}{{ file.file }}"></td>
                                                        <td>
                                                            <a href="{% url 'execution:download_result' execution.id file.file %}" class="btn btn-gray btn-sm"><i class="fa fa-bars"></i> Descargar</a>
                                                            <a href="{% url 'execution:delete_result' execution.id file.file %}" onclick="return confirm('¿Está seguro de eliminar este archivo?')" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Borrar</a>
                                                        </td>
                                                    {% else %}
                                                        <td>{{ file.file }}</td>
                                                        <td>{{ file.lat}}</td>
                                                        <td>{{ file.long }}</td>
                                                        <td>
                                                            <a href="{% url 'execution:download_result' execution.id file.file %}" class="btn btn-gray btn-sm"><i class="fa fa-bars"></i> Descargar</a>
                                                            {% if not execution.version.algorithm.multitemporal %}
                                                                {% if file.state == '4' %}
                                                                    <a href="{% url 'execution:download_result' execution.id file.tiff_file %}" class="btn btn-gray btn-sm">
                                                                        <i class="fa fa-file-image-o"></i> Descargar Geotiff
                                                                    </a>
                                                                {% elif file.state == '3' %}
                                                                    <a href="{% url 'execution:generate_geotiff_task' execution.id file.file %}" class="btn btn-gray btn-sm">
                                                                        <i class="fa fa-file-image-o"></i> Error Geotiff
                                                                    </a>
                                                                {% elif file.state %}
                                                                    <a class="btn btn-gray btn-sm">
                                                                        <i class="fa fa-spinner fa-spin"></i> Generando Geotiff
                                                                    </a>
                                                                {% else %}
                                                                    <a href="{% url 'execution:generate_geotiff_task' execution.id file.file %}" class="btn btn-gray btn-sm">
                                                                        <i class="fa fa-play" aria-hidden="true"></i> Generar Geotiff
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                            <a href="{% url 'execution:delete_result' execution.id file.file %}" onclick="return confirm('¿Está seguro de eliminar este archivo?')" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Borrar</a>
                                                        </td>
                                                    {% endif %}
                                                    

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}


                    <h3 class="page-title">Traza de errores</h3>
                    <div class="separator-2"></div>
                    <p>La traza del error de la ejecución es la siguiente::</p>

                    <pre><code style="color: #c7254e;">{{ execution.trace_error }}</code></pre>
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class=" clearfix">
                            <h3 class="title">Acciones</h3>
                            <div class="separator-2"></div>
                            {% if review %}
                                <nav>
                                    <!--<a href="#" class="btn btn-gray btn-md btn-block">No hay acciones disponibles</a>-->
                                    <a href="{% url 'execution:new_copied_execution' execution.version.algorithm.id execution.version.id execution.id %}" class="btn btn-default btn-md btn-block">Replicar ejecución</a>
                                    {% if execution.state == '2' or execution.state == '1' %}
                                        <a href="{% url 'execution:cancel_execution' execution.id %}" onclick="return confirm('¿Está seguro de cancelar esta ejecución?')" class="btn btn-danger btn-md btn-block">Cancelar ejecución</a>
                                    {% endif %}
                                </nav>
                            {% else %}
                                <nav>
                                    {% if user.is_authenticated %}
                                        {% if perms.execution.can_rate_execution %}
                                            <a href="{% url 'execution:rate_execution' execution.id %}#rating" class="btn btn-primary btn-md btn-block">Calificar Resultados de la Ejecución</a>
                                        {% endif %}
                                        <a href="{% url 'execution:new_copied_execution' execution.version.algorithm.id execution.version.id execution.id %}" class="btn btn-default btn-md btn-block">Replicar ejecución</a>
                                        {% if execution.state == '2' or execution.state == '1'%}
                                            <a href="{% url 'execution:cancel_execution' execution.id %}" onclick="return confirm('¿Está seguro de cancelar esta ejecución?')" class="btn btn-danger btn-md btn-block">Cancelar ejecución</a>
                                        {% endif %}




                                    {% endif %}
                                </nav>
                            {% endif %}

                        </div>
                        {% if review %}
                            <div class="block clearfix">
                                <h3 class="title">Calificación realizada</h3>
                                <div class="separator-2"></div>
                                <p>La calificación que realizaste de los resultados de esta ejecución es la siguiente:</p>
                                <nav>
                                    <ul>
                                        <li>Calificación: {{ review.rating }}</li>
                                        <li>Comentario: {{ review.comments }}</li>
                                    </ul>
                                </nav>
                            </div>
                        {% endif %}
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}
