{% extends 'base.html' %}
{% load execution_extras %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'execution:index' %}">Ejecuciones</a></li>
                <li class="active">Nueva Unidad CEOS</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <!-- page-title end -->

                    <!-- blogpost start -->
                    <article class="">
                        <header>
                            <h3 class="page-title">Información del algoritmo</h3>
                            <div class="separator-2"></div>
                        </header>
                        <div class="blogpost-content">
                            <p>La siguiente información del algoritmo:.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Tematica:</td>
                                            <td>{{ algorithm.topic.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nombre:</td>
                                            <td>{{ algorithm.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Versión a ejecutar:</td>
                                            <td>
                                                <select>
                                                    {% for version in versions %}
                                                        <option value="{{ version.id }}">{{ version.number }} ({{ version.publishing_state }})</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de creación:</td>
                                            <td>{{ algorithm.created_at }}</td>
                                        </tr>
                                        <tr>
                                            <td>Creada por:</td>
                                            <td>{{ algorithm.created_by.email }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- blogpost end -->

                    <!-- blogpost start -->
                    <article class="">
                        <header>
                            <h3 class="page-title">Calificación de la versión</h3>
                            <div class="separator-2"></div>
                        </header>
                        <div class="blogpost-content">
                            <p>Estadísticas de la versión del algoritmo:</p>
                        </div>

                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-star"></i></span>
                                    <h4>Calificación</h4>
                                    <div class="separator clearfix"></div>
                                    <h2>4.5/5</h2>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-check"></i></span>
                                    <h4># de Calificaciones</h4>
                                    <div class="separator clearfix"></div>
                                    <h2>15</h2>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall"
                                     data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                    <span class="icon default-bg circle"><i class="fa fa-refresh"></i></span>
                                    <h4># de Ejecuciones</h4>
                                    <div class="separator clearfix"></div>
                                    <h2>96</h2>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="#" class="btn btn-gray btn-sm">Ver Calificaciones</a>
                            </div>
                        </div>
                    </article>
                    <!-- blogpost end -->

                    <!-- blogpost start -->
                    <article class="">
                        <header>
                            <h3 class="page-title">Ejecutar algoritmo</h3>
                            <div class="separator-2"></div>
                        </header>
                        <div class="blogpost-content">
                            <p>Ingresa los siguientes parámetros para ejecutar el algoritmo:</p>
                        </div>

                        <div class="section light-gray-bg">
                            <div class="container">
                                <form role="form" class="form-horizontal col-md-6 col-md-offset-1" method="POST"
                                      action="{% url 'execution:new_execution' algorithm.id %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <!-- Parametro 1 -->
                                    <div class="form-group">
                                        <label><b>Descripción de la ejecución</b></label>
                                        <textarea id="textarea_id"
                                                  name="textarea_name"
                                                placeholder="Ingresa una descripción que te ayude a identificar el objetivo del análisis que deseas realizar"
                                                class="form-control" rows="4"></textarea>
                                    </div>
                                    <!-- /Parametro 1 -->

                                    <!-- Parametro 2 -->
                                    <div class="form-group">
                                        <label><b>Mapa</b></label>
                                        <div id="map" class="align-center" style="width: 550px; height: 400px"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <label><b>Latitud Inicio: </b></label>
                                            <input id="latitude_init_id"
                                                   name="latitude_init_name"
                                                   class="form-control" placeholder="" type="text">
                                            <label><b>Latitud Fin: </b></label>
                                            <input id="latitude_end_id"
                                                   name="latitude_end_name"
                                                   class="form-control" placeholder="" type="text">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <label><b>Longitud Inicio: </b></label>
                                            <input id="longitude_init_id"
                                                   name="longitude_init_name"
                                                   class="form-control" placeholder="" type="text">
                                            <label><b>Longitud Fin: </b></label>
                                            <input id="longitude_end_id"
                                                   name="longitude_end_name"
                                                   class="form-control" placeholder="" type="text">
                                        </div>
                                    </div>
                                    <!-- /Parametro 2 -->

                                    <!-- Parametro 3 -->
                                    <div class="form-group">
                                        <label><b>Mínimo de pixeles válidos</b></label>
                                        <input id="min_pixel_id"
                                               name="min_pixel_name" class="form-control" placeholder="" type="number">
                                    </div>
                                    <!-- /Parametro 3 -->

                                    <!-- Parametro 4 -->
                                    <div class="form-group">
                                        <p><b>Periodo de consulta</b></p>
                                        <div class="col-md-6">
                                            <label><b>Desde</b></label>
                                            <input id="date_from_id"
                                                   name="date_from_name"
                                                   class="form-control" placeholder="" type="date">
                                        </div>

                                        <div class="col-md-6">
                                            <label><b>Hasta</b></label>
                                            <input id="date_to_id"
                                                   name="date_to_name"
                                                   class="form-control" placeholder="" type="date">
                                        </div>
                                        <p class="help-block">Seleccione una fecha inicial y una fecha final para crear
                                            el compuesto de medianas.</p>
                                    </div>
                                    <!-- /Parametro 4 -->

                                    <!-- Parametro 5 -->
                                    <div class="form-group">
                                        <label for=""><b>Posibles unidades de almacenamiento origen *</b></label>
                                        <select class="form-control" id="storage_unit_id"
                                                name="storage_unit_name">
                                            <option value="1">Unidad de Almacenamiento 1</option>
                                            <option value="2">Unidad de Almacenamiento 2</option>
                                            <option value="3">Unidad de Almacenamiento 3</option>
                                        </select>
                                    </div>
                                    <!-- /Parametro 5-->

                                    <!-- Parametro 6 -->
                                    <div class="form-group">
                                        <label for=""><b>Bandas de compuesto</b></label>
                                        <select multiple class="form-control" id="bands_id"
                                                name="bands_name">
                                            <option value="1">Banda 1</option>
                                            <option value="2">Banda 2</option>
                                            <option value="3">Banda 3</option>
                                        </select>
                                    </div>
                                    <!-- /Parametro 6-->

                                    <!-- Parametro 7 -->
                                    <div class="form-group">
                                        <input type="checkbox" id="normalized_id" name="normalized_name"><b> Normalizado</b><br>
                                        <p class="help-block">Habilite esta opción si se deben normalizar las imágenes.</p>
                                    </div>
                                    <!-- /Parametro 7-->

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-default">Ejecutar Algoritmo</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                    <!-- blogpost end -->

                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Listado de algoritmo</h3>
                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav nav-pills">
                                    {% for topic in topics %}
                                        <li>
                                            <a href="#">{{ topic.name }}</a>
                                            <ul>
                                                {% for algorithm in topic|get_algorithms %}
                                                    <li><a href="{% url 'execution:new_execution' algorithm.id %}">{{ algorithm.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}

{% block extra_body %}
<script type="text/javascript">

    // This example adds a user-editable rectangle to the map.
    // When the user changes the bounds of the rectangle,
    // an info window pops up displaying the new bounds.

    var rectangle;
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 4.1, lng: -72.8},
            zoom: 5
        });

        var bounds = {
            north: 4.0,
            south: 8.0,
            east: -70.0,
            west: -75.7
        };

        // Define the rectangle and set its editable property to true.
        rectangle = new google.maps.Rectangle({
            bounds: bounds,
            editable: true,
            draggable: true,
            strokeColor: '#FF0000',
            fillColor: '#FF0000',
        });

        rectangle.setMap(map);

        // Add an event listener on the rectangle.
        rectangle.addListener('bounds_changed', showNewRect);
    }
    // Show the new coordinates for the rectangle in an info window.

    /** @this {google.maps.Rectangle} */
    function showNewRect(event) {
        var ne = rectangle.getBounds().getNorthEast();
        var sw = rectangle.getBounds().getSouthWest();

        document.getElementById("latitude_init_id").value = ne.lat();
        document.getElementById("latitude_end_id").value = ne.lng();
        document.getElementById("longitude_init_id").value = sw.lat();
        document.getElementById("longitude_end_id").value = sw.lng();

    }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgHk6zP-EhApihfwqpoeoOe2ZjSraVVPM&callback=initMap"></script>
{% endblock %}