{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'ingest:index' %}">Tareas de Ingesta</a></li>
                <li class="active">Nueva Tarea de Ingesta</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3 class="page-title">Nueva Tarea de Ingesta</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Ingrese la información de la tarea de ingesta que desea programar sobre una unidad de almacenamiento.</p>
                    <!-- Success Messages  -->
                    {% if response %}
                        <div class="alert alert-success">
                            {{ response.message|escape }}
                        </div>
                    {% endif %}
                    <!-- /Success Messages -->
                    <div class="section light-gray-bg">
                        <div class="container">
                            <form role="form" class="form-horizontal col-md-6 col-md-offset-3" method="POST"
                                  action="#"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Errors -->
                                {% if version_form.errors %}
                                    {% for error in version_form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- /Errors -->

                                <!-- Unidad de Almacenamiento -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if ingest_form.storage_unit.errors %}
                                        {% for error in ingest_form.storage_unit.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label>
                                        <b>
                                            Unidad de Almacenamiento <span class="text-danger small"> * </span>
                                            <a class="help-hover hidden-xs hidden-sm hidden-md"><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Seleccione la unidad de almacenamiento sobre la cuál desea ejecutar el proceso de ingesta."></i></a>
                                        </b>
                                    </label>
                                    {{ ingest_form.storage_unit }}
                                </div>
                                <!-- /Unidad de Almacenamiento -->

                                <!-- Observaciones -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if ingest_form.comments.errors %}
                                        {% for error in ingest_form.comments.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label>
                                        <b>
                                            Observaciones
                                            <a class="help-hover hidden-xs hidden-sm hidden-md"><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Ingrese una descripción o comentario sobre las imágenes que van a ser ingestadas al ejecutar esta tarea de ingesta."></i></a>
                                        </b>
                                    </label>
                                    {{ ingest_form.comments }}
                                </div>
                                <!-- /Observaciones -->

                                <!-- Nota -->
                                <div class="form-group">
                                    <p>
                                        <b>Nota</b>: Si la únidad aparece con el texto "(Última Tarea con Error)" es importante
                                        que haya resuelto los problemas antes de programar una nueva tarea para esa
                                        unidad.
                                    </p>
                                </div>
                                <!-- /Nota -->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-lg">Programar Tarea</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}