{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Home</a></li>
                <li><a href="{% url 'storage:index' %}">Unidades de Almacenamiento</a></li>
                <li class="active">Detalle</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Información de la Unidad</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>La siguiente información de la unidad de almacenamiento:</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Código de la unidad:</td>
                            <td>{{ storage_unit_detail.id }}</td>
                        </tr>
                        <tr>
                            <td>Nombre:</td>
                            <td>{{ storage_unit_detail.name }}</td>
                        </tr>
                        <tr>
                            <td>Tipo:</td>
                            <td>{{ storage_unit_detail.storage_unit_type }}</td>
                        </tr>
                        <tr>
                            <td>Archivo de Descripción:</td>
                            <td><a href="/storage/download/{{ storage_unit_detail.metadata.name }}"
                                   class="btn btn-primary btn-sm">Descargar</a></td>
                        </tr>
                        {% if storage_unit_ceos %}
                            <tr>
                                <td>Archivo de Ingesta:</td>
                                <td><a href="/storage/download/{{ storage_unit_ceos.file_feed.name }}"
                                   class="btn btn-primary btn-sm">Descargar</a></td>
                            </tr>
                            <tr>
                                <td>Unidad origen:</td>
                                <td>{{ storage_unit_ceos.source_storage_unit }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Nivel de Procesamiento:</td>
                            <td>{{ storage_unit_detail.processing_level }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Creación:</td>
                            <td>{{ storage_unit_detail.created_at }}</td>
                        </tr>
                        <tr>
                            <td>Creada por:</td>
                            <td>{{ storage_unit_detail.created_by }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Acciones</h3>
                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="index.html">Ver contenido de la unidad</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}