{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'storage:index' %}">Unidades de Almacenamiento</a></li>
                <li class="active">Detalle</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3 class="page-title">Resumen de la Unidad</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>La siguiente información de la unidad de almacenamiento:</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Alias:</td>
                            <td>{{ storage_unit.alias }}</td>
                        </tr>
                        <tr>
                             <td>Nombre:</td>
                            <td>{{ storage_unit.name }}</td>
                        </tr>
                        <tr>
                            <td>Archivo de Descripción:</td>
                            <td><a href="{% url 'storage:download_file' storage_unit.name storage_unit.description_file %}"
                                   class="btn btn-gray btn-sm"><i class="fa fa-download"></i> Descargar</a></td>
                        </tr>
                        <tr>
                            <td>Archivo de Ingesta:</td>
                            <td><a href="{% url 'storage:download_file' storage_unit.name storage_unit.ingest_file %}"
                               class="btn btn-gray btn-sm"><i class="fa fa-download"></i> Descargar</a></td>
                        </tr>
                        <tr>
                            <td>Script de generación de metadatos::</td>
                            <td><a href="{% url 'storage:download_file' storage_unit.name storage_unit.metadata_generation_script %}"
                               class="btn btn-gray btn-sm"><i class="fa fa-download"></i> Descargar</a></td>
                        </tr>
                        <tr>
                            <td>Fecha de Creación:</td>
                            <td>{{ storage_unit.created_at }}</td>
                        </tr>
                        <tr>
                            <td>Creada por:</td>
                            <td>{{ storage_unit.created_by.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Acciones</h3>
                            <div class="separator-2"></div>
                            {% if user.is_authenticated %}
                                {% if perms.storage.can_edit_units %}
                                    <nav>
                                        <a href="{% url 'storage:update' storage_unit.id %}" class="btn btn-info btn-md btn-block">Editar unidad</a>
                                    </nav>
                                {% endif %}
                            {% endif %}
                            <nav>
                                <a href="{% url 'storage:view_content' storage_unit.id %}?path=/years/" class="btn btn-primary btn-md btn-block">Ver contenido de la unidad</a>
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}
