{% extends 'base.html' %}
{% load staticfiles %}

{% block banner_block %}
    <img class="overlay" src="{% static 'images/small-banner-home.jpg' %}">
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li class="active">Unidades de Almacenamiento</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container padding-ver-clear">
        <div class="container pv-40">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <h3 class="title">Unidades de Almacenamiento</h3>
                    <div class="separator-2"></div>
                    <p>A continuación se presentan las unidades de almacenamiento actuales</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right" style="margin-bottom: 10px;">
                                {% if user.is_authenticated %}
                                    {% if perms.storage.can_create_units %}
                                        <a href="{% url 'storage:new' %}" class="btn btn-default btn-md"><i class="fa fa-plus-circle"></i> Nueva unidad</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="storage_units_table" class="table table-striped table-colored">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha de Creación</th>
                                        <th>Creada por</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#storage_units_table').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                },
                "processing": true,
                "ajax": {
                    "processing": true,
                    "url": "{% url 'storage:as_json' %}",
                    "dataSrc": ""
                },
                "order": [[ 1, "desc" ]],
                "columns": [
                    {"data": "name"},
                    {
                        "data": "created_at",
                        "render": function (data) {
                            var date = new Date(data);
                            var month = date.getMonth() + 1 + "";

                            return ('0'+date.getDay()).slice(-2)+"-"+
                                   ('0'+date.getMonth()).slice(-2)+"-"+
                                   date.getFullYear()+" "+
                                   ('0'+date.getHours()).slice(-2)+":"+
                                   ('0'+date.getMinutes()).slice(-2);
                        }
                    },
                    {"data": "created_by"},
                    {
                        "data": "id",
                        "searchable": false,
                        "sortable": false,
                        "render": function (data) {
                            return "<a href='detail/" + data + "' class='btn btn-gray btn-sm'><i class='fa fa-bars'></i> Ver Detalle</a>";
                        }
                    },
                ]
            });
        });
    </script>
{% endblock %}
