{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'storage:index' %}">Unidades de Almacenamiento</a></li>
                <li class="active">Nueva Unidad de Almacenamiento</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3 class="title">Nueva Unidad de Almacenamiento</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Ingresa la siguiente información de la unidad de almacenamiento:</p>
                    <!-- Success Messages  -->
                    {% if response %}
                        <div class="alert alert-success">
                            {{ response.message|escape }}
                        </div>
                    {% endif %}
                    <!-- /Success Messages -->
                    <div class="section light-gray-bg">
                        <div class="container">
                            <form role="form" class="form-horizontal col-md-6 col-md-offset-3" method="POST" action="{% url 'storage:new' %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Errors -->
                                {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- /Errors -->

                                <!-- Archivo de descripción -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if form.description_file.errors %}
                                        {% for error in form.description_file.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for="nameUnitFile"><b>Archivo de descripción*</b></label>
                                    <input name="{{ form.description_file.html_name }}"
                                           id="{{ form.description_file.id_for_label }}" type="file">
                                    <p class="help-block">Suba el archivo .yml con la descripción de la unidad <a href="{% url 'template:index' %}" class="btn btn-default btn-sm">Ver plantillas</a></p>
                                </div>
                                <!-- /Archivo de descripción -->

                                <!-- Nombre de la unidad -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if form.detailed_processing_level.errors %}
                                        {% for error in form.detailed_processing_level.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for="detailedProcessingLevel"><b>Nombre de la unidad</b></label>
                                    <input class="form-control"
                                           name="{{ form.name.html_name }}"
                                           id="{{ form.name.id_for_label }}"
                                           placeholder="Nombre UA"
                                            {% if form.name.value %}
                                           value="{{ form.name.value }}"{% endif %}
                                           type="text">
                                </div>
                                <!-- /Nombre de la unidad -->

                                <!-- Descripción -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if form.detailed_processing_level.errors %}
                                        {% for error in form.detailed_processing_level.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for="detailedProcessingLevel"><b>Descripción</b></label>
                                    <input class="form-control"
                                           name="{{ form.description.html_name }}"
                                           id="{{ form.description.id_for_label }}"
                                           placeholder="Descripción UA"
                                            {% if form.description.value %}
                                           value="{{ form.description.value }}"{% endif %}
                                           type="text">
                                </div>
                                <!-- /Descripción -->

                                <!-- Archivo de ingesta -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if form.ingest_file.errors %}
                                        {% for error in form.ingest_file.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for="nameUnitIngestFile"><b>Archivo de ingesta*</b></label>
                                    <input name="{{ form.ingest_file.html_name }}"
                                           id="{{ form.ingest_file.id_for_label }}" type="file">
                                    <p class="help-block">Suba el archivo .yml con la informaciónpara poder realizar la ingesta <a href="{% url 'storage:new' %}" class="btn btn-default btn-sm">Ver plantillas</a></p>
                                </div>
                                <!-- /Archivo de ingesta -->

                                <!-- Metadata script file -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if form.metadata_generation_script.errors %}
                                        {% for error in form.metadata_generation_script.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Script de generación de metadatos*</b></label>
                                    <input name="{{ form.metadata_generation_script.html_name }}"
                                           id="{{ form.metadata_generation_script.id_for_label }}" type="file">
                                    <p class="help-block">Suba el archivo .py que genera los metadatos de las imágenes a ingestar <a href="{% url 'ingest_template:index' %}" class="btn btn-default btn-sm">Ver scripts</a></p>
                                </div>
                                <!-- /Metadata script file -->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-default">Crear Unidad</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}

{% block extra_body %}
    <script src="{% static 'js/yaml.min.js' %}"></script>
    <script type="text/javascript">
        $("#id_description_file").change(function(event){
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function(){
                parsed = YAML.parse(reader.result);
                $("#id_name").val(parsed["name"]);
                $("#id_description").val(parsed["description"]);
            };
            reader.readAsText(input.files[0]);
        });
    </script>
{% endblock %}