{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="main-container jumbotron light-gray-bg text-center margin-clear">
  <div class="container">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-6 col-md-offset-3 pv-40">
        <h1 class="page-title"><span class="text-default">400</span></h1>
        <h2>Petición errada</h2>
        <p>Se ha enviado una petición errada al sistema, por favor revise.</p>
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
{% endblock %}
