{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="main-container jumbotron light-gray-bg text-center margin-clear">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-6 col-md-offset-3 pv-40">
                    <h1 class="page-title"><span class="text-default">403</span></h1>
                    <h2>Prohibido</h2>
                    <p>Usted no tiene permisos para acceder a este recurso.</p>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
{% endblock %}