{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon_ideam.ico' %}">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="{% static 'fonts/fontello/css/fontello.css' %}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{% static 'plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/rs-plugin/css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'css/animations.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/hover/hover-min.css' %}" rel="stylesheet">

    <!-- The Project core CSS file -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="{% static 'css/skins/light_blue.css' %}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Extra Head Block -->
    <!-- ================ -->
    {% block extra_head %}
    {% endblock %}
    <!-- Extra Head Block -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page   ">

<!-- scrollToTop -->
<!-- ================ -->
{#<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>#}

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    <!-- header-container start -->
    <div class="header-container">

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header  fixed    clearfix">

            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix">

                            <!-- logo -->
                            {% if user.is_authenticated %}
                                <div id="logo" class="logo">
                                    <a href="/home/"><img id="logo_img"
                                                     src="{% static 'images/logo_ideam_header_sin_texto.png' %}"
                                                     alt="CDCOL - IDEAM"></a>
                                </div>
                            {% else %}
                                <div id="logo" class="logo">
                                    <a href="/"><img id="logo_img"
                                                     src="{% static 'images/logo_ideam_header_sin_texto.png' %}"
                                                     alt="CDCOL - IDEAM"></a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- header-left end -->

                    </div>
                    <div class="col-md-9">

                        <!-- header-right start -->
                        <!-- ================ -->
                        <div class="header-right clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                            <!-- ================ -->
                            <div class="main-navigation  animated with-dropdown-buttons">

                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">

                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse pull-right" style="padding-right: 0px;" id="navbar-collapse-1">
                                            <!-- main-menu -->
                                            <nav class="nav navbar-nav">

                                                <!-- mega-menu start -->
                                                {% if user.is_authenticated %}
                                                    {% if perms.algorithm.can_list_algorithms %}
                                                        <li>
                                                        <a href="{% url 'algorithm:index' %}">Mis Algoritmos</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.execution.can_list_executions %}
                                                        <li>
                                                            <a href="{% url 'execution:index' %}">Ejecuciones</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.storage.can_list_units %}
                                                        <li>
                                                            <a href="{% url 'storage:index' %}">Almacenamiento</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.template.can_list_yaml_templates or perms.ingest_template.can_list_ingest_templates %}
                                                        <li class="dropdown ">
                                                            <a class="dropdown-toggle" data-toggle="dropdown">Plantillas</a>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown ">
                                                                    {% if perms.template.can_list_yaml_templates %}
                                                                        <li>
                                                                            <a href="{% url 'template:index' %}">YAML de descripción e ingesta</a>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% if perms.ingest_template.can_list_ingest_templates %}
                                                                        <li>
                                                                            <a href="{% url 'ingest_template:index' %}">Scripts de generación de metadatos</a>
                                                                        </li>
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.ingest.can_list_storage_tasks %}
                                                        <li>
                                                            <a href="{% url 'ingest:index' %}">Ingesta</a>
                                                        </li>
                                                    {% endif %}
                                                    <li class="dropdown ">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">Mi cuenta</a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown ">
                                                            <li>
                                                                <a href="{% url 'profile:index' %}">Mi Perfil</a>
                                                            </li>
                                                            <li>
                                                                <a href="">Manual de Ayuda</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"
                                                                   onclick="document.getElementById('logout_form').submit();">Cerrar
                                                                    Sesión</a>
                                                                <form id="logout_form" method="post"
                                                                      action="{% url 'account_logout' %}"
                                                                      hidden>
                                                                    {% csrf_token %}
                                                                </form>
                                                            </li>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{% url 'account_signup' %}">Registro</a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'account_login' %}">Iniciar Sesión</a>
                                                    </li>

                                                {% endif %}
                                                <!-- mega-menu end -->
                                            </nav>
                                            <!-- main-menu end -->
                                        </div>

                                    </div>
                                </nav>
                                <!-- navbar end -->

                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-right end -->

                    </div>
                </div>
            </div>

        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <!-- Banner block -->
    <!-- ================ -->
    {% block banner_block %}
    {% endblock %}
    <!-- Banner block -->

    <div id="page-start"></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Content block -->
    <!-- ================ -->
    {% block content %}
    {% endblock %}
    <!-- section end -->

    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix ">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">¿Quienes Somos?</h2>
                                <div class="separator-2"></div>
                                <div class="logo-footer"><img id="logo-footer"
                                                              src="{% static 'images/logo_ideam_footer_con_texto.png' %}" alt="">
                                </div>
                                <p class="text-justify">
                                    El IDEAM es una institución pública de apoyo técnico y científico al Sistema Nacional Ambiental,
                                    que genera conocimiento, produce información confiable, consistente y oportuna, sobre el estado
                                    y las dinámicas de los recursos naturales y del medio ambiente, que facilite la definición y
                                    ajustes de las políticas ambientales y la toma de decisiones por parte de los sectores público,
                                    privado y la ciudadanía en general.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">¿Qué es CDCOL?</h2>
                                <div class="separator-2"></div>
                                <p class="text-justify">
                                    El Cubo de Datos imágenes de satélite para Colombia es uno de los pilares que permite fortalecer
                                    y consolidar el monitoreo de los recursos naturales en el país, ya que permite el almacenamiento,
                                    manejo y análisis de grandes volúmenes de información de sensores remotos de forma eficiente.
                                </p>
                                <p class="text-justify">
                                    El principal objetivo de este Cubo de Datos es proveer a los usuarios una herramienta que permita
                                    obtener datos de múltiples sensores para un área y un periodo de tiempo determinados, realizar
                                    operaciones de análisis sobre los datos recuperados, generar reportes en diferentes formatos (imágenes,
                                    animaciones, gráficos, tablas, entre otros) y facilitar la generación de nuevas funciones de análisis.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Participantes</h2>
                                <div class="separator-2"></div>
                                <p class="text-justify">
                                    El CDCOL es una iniciativa apoyada por el Ministerio de Ambiente y Desarrollo Sostenible,
                                    desarrollada por el IDEAM y la Universidad de los Andes con la asesoría de NASA y CSIRO.
                                </p>
                                <h2 class="title">Contacto</h2>
                                <div class="separator-2"></div>
                                <ul class="list-icons">
                                    <li><i class="fa fa-map-marker pr-10 text-default"></i> Calle 25 D No. 96 B - 70 Bogotá D.C
                                    </li>
                                    <li><i class="fa fa-phone pr-10 text-default"></i> Línea nacional 018000110012</li>
                                    <li><a href="mailto:atencionalciudadano@ideam.gov.co"><i class="fa fa-envelope-o pr-10"></i>atencionalciudadano@ideam.gov.co</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Enlaces de interés</h2>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a target="_blank" href="http://www.ideam.gov.co">Sitio IDEAM</a></li>
                                        <li><a target="_blank" href="#">Términos y Condiciones</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Todos los derechos reservados - IDEAM 2016. Desarrollado por <a target="_blank" href="http://www.uniandes.edu.co">Universidad de los Andes</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src={% static "plugins/jquery.min.js" %}></script>
<script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<!-- Modernizr javascript -->
<script type="text/javascript" src={% static "plugins/modernizr.js" %}></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src={% static "plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}></script>
<!-- Isotope javascript -->
<script type="text/javascript" src={% static "plugins/isotope/isotope.pkgd.min.js" %}></script>
<!-- Magnific Popup javascript -->
<script type="text/javascript" src={% static "plugins/magnific-popup/jquery.magnific-popup.min.js" %}></script>
<!-- Appear javascript -->
<script type="text/javascript" src={% static "plugins/waypoints/jquery.waypoints.min.js" %}></script>
<!-- Count To javascript -->
<script type="text/javascript" src={% static "plugins/jquery.countTo.js" %}></script>
<!-- Parallax javascript -->
<script src={% static "plugins/jquery.parallax-1.1.3.js" %}></script>
<!-- Contact form -->
<script src={% static "plugins/jquery.validate.js" %}></script>
<!-- Background Video -->
<script src={% static "plugins/vide/jquery.vide.js" %}></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src={% static "plugins/owl-carousel/owl.carousel.js" %}></script>
<!-- SmoothScroll javascript -->
<script type="text/javascript" src={% static "plugins/jquery.browser.js" %}></script>
<script type="text/javascript" src={% static "plugins/SmoothScroll.js" %}></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src={% static "js/template.js" %}></script>
<!-- Custom Scripts -->
<script type="text/javascript" src={% static "js/custom.js" %}></script>
{% block extra_body %}
{% endblock %}

</body>
</html>
