{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="{% static 'fonts/fontello/css/fontello.css' %}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{% static 'plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/rs-plugin/css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'css/animations.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/owl-carousel/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/hover/hover-min.css' %}" rel="stylesheet">

    <!-- The Project core CSS file -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="{% static 'css/skins/light_blue.css' %}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- Extra Head Block -->
    <!-- ================ -->
    {% block extra_head %}
    {% endblock %}
    <!-- Extra Head Block -->
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans front-page transparent-header  ">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    <!-- header-container start -->
    <div class="header-container">

        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-6 col-md-9">
                        <!-- header-top-first start -->
                        <!-- ================ -->
                        <div class="header-top-first clearfix">

                        </div>
                        <!-- header-top-first end -->
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-3">

                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second" class="clearfix">

                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-second text-right">
                                {% if user.is_authenticated %}
                                    <ul class="list-inline">
                                        <li><i class="fa fa-user pr-5 pl-10"></i>Hola, {{ user.username }} -
                                            <a href="#" onclick="document.getElementById('logout_form').submit();">Cerrar
                                                Sesión</a>
                                            <form id="logout_form" method="post" action="{% url 'account_logout' %}"
                                                  hidden>
                                                {% csrf_token %}
                                            </form>
                                        </li>
                                    </ul>
                                {% else %}
                                    <div class="btn-group">
                                        <a href="{% url 'account_signup' %}" class="btn btn-default btn-sm"><i
                                                class="fa fa-user pr-10"></i> Regístrate</a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="{% url 'account_login' %}" class="btn btn-default btn-sm"><i
                                                class="fa fa-user pr-10"></i> Iniciar Sesión</a>
                                    </div>
                                {% endif %}
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header  fixed    clearfix">

            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix">

                            <!-- header dropdown buttons -->
                            <div class="header-dropdown-buttons visible-xs">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i
                                            class="icon-search"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form role="search" class="search-box margin-clear">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <i class="icon-search form-control-feedback"></i>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i
                                            class="icon-basket-1"></i><span class="cart-count default-bg">8</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
                                        <li>
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="quantity">QTY</th>
                                                    <th class="product">Product</th>
                                                    <th class="amount">Subtotal</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="quantity">2 x</td>
                                                    <td class="product"><a href="shop-product.html">Android 4.4
                                                        Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                                                    <td class="amount">$199.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="quantity">3 x</td>
                                                    <td class="product"><a href="shop-product.html">Android 4.2
                                                        Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                                                    <td class="amount">$299.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="quantity">3 x</td>
                                                    <td class="product"><a href="shop-product.html">Desktop PC</a><span
                                                            class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span>
                                                    </td>
                                                    <td class="amount">$1499.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="total-quantity" colspan="2">Total 8 Items</td>
                                                    <td class="total-amount">$1997.00</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="panel-body text-right">
                                                <a href="shop-cart.html" class="btn btn-group btn-gray btn-sm">View
                                                    Cart</a>
                                                <a href="shop-checkout.html" class="btn btn-group btn-gray btn-sm">Checkout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- header dropdown buttons end-->

                            <!-- logo -->
                            <div id="logo" class="logo">
                                <a href="/"><img id="logo_img" src="{% static 'images/logo_light_blue.png' %}"
                                                          alt="CDCOL - IDEAM"></a>
                            </div>



                        </div>
                        <!-- header-left end -->

                    </div>
                    <div class="col-md-9">

                        <!-- header-right start -->
                        <!-- ================ -->
                        <div class="header-right clearfix">

                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                            <!-- ================ -->
                            <div class="main-navigation  animated with-dropdown-buttons">

                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">

                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                            <!-- main-menu -->
                                            <ul class="nav navbar-nav ">

                                                <!-- mega-menu start -->
                                                <li class="dropdown active mega-menu">
                                                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                                </li>
                                                <li class="dropdown ">
                                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                                       href="{% url 'storage:index' %}">Almacenamiento</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown ">
                                                            <a class="dropdown-toggle" data-toggle="dropdown"
                                                               href="{% url 'storage:index' %}">Listar</a>
                                                        </li>
                                                        <li class="dropdown ">
                                                            <a class="dropdown-toggle" data-toggle="dropdown"
                                                               href="{% url 'storage:index' %}">Crear</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{% url 'storage:new_ceos' %}">Crear UA
                                                                    CEOS</a></li>
                                                                <li><a href="{% url 'storage:new_cdcol' %}">Crear UA
                                                                    CDCOL</a></li>
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <!-- mega-menu end -->
                                            </ul>
                                            <!-- main-menu end -->

                                            <!-- header dropdown buttons -->
                                            <div class="header-dropdown-buttons hidden-xs ">
                                                <div class="btn-group dropdown">
                                                    <button type="button" class="btn dropdown-toggle"
                                                            data-toggle="dropdown"><i class="icon-search"></i></button>
                                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                        <li>
                                                            <form role="search" class="search-box margin-clear">
                                                                <div class="form-group has-feedback">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Search">
                                                                    <i class="icon-search form-control-feedback"></i>
                                                                </div>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- header dropdown buttons end-->

                                        </div>

                                    </div>
                                </nav>
                                <!-- navbar end -->

                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-right end -->

                    </div>
                </div>
            </div>

        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->

    <!-- Banner block -->
    <!-- ================ -->
    {% block banner_block %}
    {% endblock %}
    <!-- Banner block -->

    <div id="page-start"></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Content block -->
    <!-- ================ -->
    {% block content %}
    {% endblock %}
    <!-- section end -->

    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix ">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-content">
                                <div class="logo-footer"><img id="logo-footer"
                                                              src="{% static 'images/logo_light_blue.png' %}" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel
                                    dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae
                                    debitis suscipit doloribus. Ipsa, aut voluptas quaerat... <a href="page-about.html">Learn
                                        More<i class="fa fa-long-arrow-right pl-5"></i></a></p>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a target="_blank" href="http://htmlcoder.me/support">Support</a></li>
                                        <li><a href="#">Privacy</a></li>
                                        <li><a href="#">Terms</a></li>
                                        <li><a href="page-about.html">About</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">¿Quienes Somos?</h2>
                                <div class="separator-2"></div>
                                <p>El Instituto de Hidrología, Meteorología y Estudios Ambientales (IDEAM) es una
                                    entidad del gobierno de Colombia dependiente del Ministerio de Ambiente y Desarrollo
                                    Sostenible. Se encarga del manejo de la información científica, hidrológica,
                                    meteorológica y todo lo relacionado con del medio ambiente en Colombia.</p>
                                <div class="separator-2"></div>
                                <ul class="list-icons">
                                    <li><i class="fa fa-map-marker pr-10 text-default"></i> Calle 25 D No. 96 B - 70 Bogotá D.C
                                    </li>
                                    <li><i class="fa fa-phone pr-10 text-default"></i> Línea nacional 018000110012</li>
                                    <li><a href="mailto:atencionalciudadano@ideam.gov.co"><i class="fa fa-envelope-o pr-10"></i>atencionalciudadano@ideam.gov.co</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Todos los derechos reservados - IDEAM 2016 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src={% static "plugins/jquery.min.js" %}></script>
<script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<!-- Modernizr javascript -->
<script type="text/javascript" src={% static "plugins/modernizr.js" %}></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src={% static "plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}></script>
<script type="text/javascript" src={% static "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}></script>
<!-- Isotope javascript -->
<script type="text/javascript" src={% static "plugins/isotope/isotope.pkgd.min.js" %}></script>
<!-- Magnific Popup javascript -->
<script type="text/javascript" src={% static "plugins/magnific-popup/jquery.magnific-popup.min.js" %}></script>
<!-- Appear javascript -->
<script type="text/javascript" src={% static "plugins/waypoints/jquery.waypoints.min.js" %}></script>
<!-- Count To javascript -->
<script type="text/javascript" src={% static "plugins/jquery.countTo.js" %}></script>
<!-- Parallax javascript -->
<script src={% static "plugins/jquery.parallax-1.1.3.js" %}></script>
<!-- Contact form -->
<script src={% static "plugins/jquery.validate.js" %}></script>
<!-- Background Video -->
<script src={% static "plugins/vide/jquery.vide.js" %}></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src={% static "plugins/owl-carousel/owl.carousel.js" %}></script>
<!-- SmoothScroll javascript -->
<script type="text/javascript" src={% static "plugins/jquery.browser.js" %}></script>
<script type="text/javascript" src={% static "plugins/SmoothScroll.js" %}></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src={% static "js/template.js" %}></script>
<!-- Custom Scripts -->
<script type="text/javascript" src={% static "js/custom.js" %}></script>
{% block extra_body %}
{% endblock %}

</body>
</html>
