{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'algorithm:index' %}">Mis Algoritmos</a></li>
                <li class="active">Detalle</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container" style="margin-bottom: 100px;">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3 class="title">Información del Algoritmo</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>La siguiente es la información del algoritmo:</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Nombre:</td>
                            <td>{{ algorithm.name }}</td>
                        </tr>
                        <tr>
                            <td>Tipo:</td>
                            <td>{{ algorithm.topic.name }}</td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td>{{ algorithm.description|linebreaks }}</td>

                        </tr>
                        <tr>
                            <td>Generar mosaico:</td>
                            <td>{{ algorithm.generate_mosaic|yesno:"Si,No" }}</td>
                        </tr>
                        <tr>
                            <td>Generar resultados multitemporales:</td>
                            <td>{{ algorithm.multitemporal|yesno:"Si,No" }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Creación:</td>
                            <td>{{ algorithm.created_at }}</td>
                        </tr>
                        <tr>
                            <td>Creada por:</td>
                            <td>{{ algorithm.created_by.email }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h3 class="page-title">Versiones del algoritmo</h3>
                    <div class="separator-2"></div>
                    <div class="pull-right">
                        {% if user.is_authenticated %}
                            {% if perms.algorithm.can_ecreate_new_version %}
                                <a href="{% url 'algorithm:new_version' algorithm.id %}" class="btn btn-default btn-md"><i
                                    class="fa fa-plus-circle"></i> Crear nueva versión</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <p>A continuación se encuentran las versiones del algoritmo:</p>
                    <br/>
                    <div class="table-responsive">
                        <table class="table table-striped table-colored">
                            <thead>
                            <tr>
                                <th>Número</th>
                                <th># Parámetros</th>
                                <th>Estado</th>
                                <th>Fecha de creación</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for version in versions %}
                                <tr>
                                    <td>{{ version.number }}</td>
                                    <td>{{ version.count_parameters }}</td>
                                    <td>{{ version.get_publishing_state_display }}</td>
                                    <td>{{ version.created_at }}</td>
                                    <td><a href="{% url 'algorithm:version_detail' algorithm_id=version.algorithm.id version_id=version.id %}"
                                           class="btn btn-gray btn-sm"><i class="fa fa-bars"></i> Ver Detalle</a>
                                        <a href="{% url 'algorithm:update_version' version.algorithm.id version.id %}" class="btn btn-gray btn-sm"><i class="fa fa-edit"></i> Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- main end -->

                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <h3 class="title">Acciones</h3>
                            <div class="separator-2"></div>
                            <nav>
                                <a href="{% url 'execution:new_execution' algorithm.id algorithm.last_version.id %}"
                                   class="btn btn-primary btn-md btn-block">Ejecutar Algoritmo</a>
                            </nav>
                            <nav>
                                {% if user.is_authenticated %}
                                    {% if perms.algorithm.can_edit_algorithm %}
                                        <a href="{% url 'algorithm:update' algorithm.id %}" class="btn btn-primary btn-md btn-block"><i class="fa fa-edit"></i> Editar
                                            Algoritmo</a>
                                    {% endif %}
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}