{% extends 'base.html' %}
{% load table_tags %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li class="active">Mis Algoritmos</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container padding-ver-clear">
        <div class="container pv-40">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <h3 class="title">Algoritmos</h3>
                    <div class="separator-2"></div>
                    <p>A continuación se presentan los algoritmos.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right" style="margin-bottom: 10px;">
                                <a href="{% url 'algorithm:new' %}" class="btn btn-default btn-md"><i
                                        class="fa fa-plus-circle"></i> Nuevo Algoritmo</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-colored">
                                    <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Versiones</th>
                                        <th>Estado</th>
                                        <th>Fecha de creación</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for algorithm in algorithms %}
                                        <tr>
                                            <td>{{ algorithm.id }}</td>
                                            <td>{{ algorithm.name }}</td>
                                            <td>{{ algorithm.topic.name }}</td>
                                            <td>{{ algorithm.obtain_versions.count }}</td>
                                            <td>{{ algorithm.last_version.publishing_state }}</td>
                                            <td>{{ algorithm.created_at }}</td>
                                            <td><a href="{% url 'algorithm:detail' algorithm.id %}" class="btn btn-gray btn-sm"><i
                                                    class="fa fa-bars"></i> Ver Detalle</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main end -->
                <div class="row">
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Versiones</th>
                            <th>Estado</th>
                            <th>Fecha de creación</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                    </table>
                </div>


            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}

{% block extra_body %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            $('#example').dataTable({
                "processing": true,
                "ajax": {
                    "processing": true,
                    "url": "{% url 'algorithm:json_algorithms' %}",
                    "dataSrc": ""
                },

                "columns": [
                    {"data": "pk"},
                    {"data": "fields.name"},
                    {"data": "fields.topic"},
                ]
            });
        });
    </script>
{% endblock %}