{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'algorithm:index' %}">Algoritmos</a></li>
                <li class="active">Nuevo Parámetro</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-10">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Nuevo Parámetro</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Ingresa la siguiente información para subir una nueva versión del algoritmo:</p>
                    <!-- Success Messages  -->
                    {% if response %}
                        <div class="alert alert-success">
                            {{ response.message|escape }}
                        </div>
                    {% endif %}
                    <!-- /Success Messages -->
                    <form role="form" class="col-md-8" method="POST" action="{% url 'algorithm:new' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Errors -->
                        {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- /Errors -->

                        <!-- Algoritmo -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Algoritmo*</b></label>
                            <input class="form-control" placeholder="Nombre del Algoritmo" disabled=""
                                   type="text">
                        </div>
                        <!-- /Algoritmo -->

                        <!-- Número de la versión -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Versión*</b></label>
                            <input class="form-control" placeholder="1.3" disabled=""
                                   type="text">
                        </div>
                        <!-- /Número de la versión -->

                        <!-- Nombre del parámetro -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Nombre del parámetro*</b></label>
                            <input class="form-control" placeholder="Escriba el nombre del parámetro"
                                   type="text">
                        </div>
                        <!-- /Nombre del parámetro -->

                        <!-- Tipo de parámetro -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Tipo de parámetro*</b></label>
                            <select class="form-control">
                                <option>STRING</option>
                                <option>INTEGER</option>
                                <option>DECIMAL</option>
                                <option>BOOLEAN</option>
                                <option>FECHA</option>
                                <option>FECHA Y HORA</option>
                                <option>AREA</option>
                                <option>UNIDAD ALMACENAMIENTO</option>
                                <option>PERIODO DE TIEMPO</option>
                                <option>LISTA DE SELECCIÓN ÚNICA</option>
                                <option>LISTA DE SELECCIÓN MÚLTIPLE</option>
                                <option>FILE</option>
                            </select>
                        </div>
                        <!-- /Tipo de parámetro -->

                        <!-- Descripción del parámetro -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Descripción del parámetro*</b></label>
                            <textarea class="form-control" rows="3"
                                      placeholder="Ingresa una descripción del significado de este parámetro en la ejecución del algortimo."></textarea>
                        </div>
                        <!-- /Descripción del parámetro -->

                        <!-- Texto de ayuda parámetro -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Texto de ayuda del parámetro (opcional)</b></label>
                            <textarea class="form-control" rows="3"
                                      placeholder="Ingresa un texto con las ayudas y consideraciones que deben tener en cuenta por los usuarios al ingresar este parámetro."></textarea>
                        </div>
                        <!-- /Texto de ayuda parámetro -->

                        <!-- Posición -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Posición*</b></label>
                            <input class="form-control" placeholder="Indica el orden en el que aparecerá el parámetro al momento de ejecutarse el algoritmo."
                                   type="number">
                        </div>
                        <!-- /Posición -->

                        <!-- Es obligatorio -->
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"><b>Este parámetro es obligatorio</b>
                                </label>
                                <p class="help-block">Si el parámetro es opcional desmarcar esta casilla.</p>
                            </div>

                        </div>
                        <!-- /Es obligatorio -->

                        <!-- Esta habilitado -->
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"><b>Este parámetro está habilitado</b>
                                </label>
                                <p class="help-block">Para deshabilitar este parámetro, desmarcar esta casilla.</p>
                            </div>

                        </div>
                        <!-- /Esta habilitado -->

                        <!-- Valor por defecto -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Valor por defecto (opcional)</b></label>
                            <input class="form-control" placeholder="Escriba el valor por defecto si lo require."
                                   type="text">
                        </div>
                        <!-- /Valor por defecto -->

                        <!-- Nombre por defecto de función -->
                        <div class="form-group">
                            <!-- Errors -->
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <!-- /Errors -->
                            <label for=""><b>Nombre por defecto en la función*</b></label>
                            <input class="form-control" placeholder="Ingresa el nombre del parámetro en la función en Python."
                                   type="text">
                        </div>
                        <!-- /Nombre por defecto de función -->

                        <button type="submit" class="btn btn-default">Crear Parámetro</button>
                    </form>
                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}