{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'algorithm:index' %}">Mis Algoritmos</a></li>
                <li class="active">Nuevo Parámetro</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3>Nuevo Parámetro</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Ingresa la siguiente información para subir una nueva versión del algoritmo:</p>
                    <!-- Success Messages  -->
                    {% if response %}
                        <div class="alert alert-success">
                            {{ response.message|escape }}
                        </div>
                    {% endif %}
                    <!-- /Success Messages -->
                    <div class="section light-gray-bg">
                        <div class="container">
                            <form role="form" class="form-horizontal col-md-6 col-md-offset-3" method="POST"
                                  action="{% url 'algorithm:new_parameter' version.algorithm.id version.id %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Errors -->
                                {% if new_parameter_form.errors %}
                                    {% for error in new_parameter_form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- /Errors -->

                                <!-- Algoritmo -->
                                <div class="form-group">
                                    <label for=""><b>Algoritmo*</b></label>
                                    <input class="form-control" placeholder="{{ version.algorithm.name }}" disabled=""
                                           type="text">
                                </div>
                                <!-- /Algoritmo -->

                                <!-- Número de la versión -->
                                <div class="form-group">
                                    <label for=""><b>Versión*</b></label>
                                    <input class="form-control" placeholder="{{ version.number }}" disabled=""
                                           type="text">
                                </div>
                                <!-- /Número de la versión -->

                                <!-- Nombre del parámetro -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if new_parameter_form.name.errors %}
                                        {% for error in new_parameter_form.name.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Nombre del parámetro*</b></label>
                                    <input name="{{ new_parameter_form.name.html_name }}"
                                           id="{{ new_parameter_form.name.id_for_label }}"
                                           class="form-control" placeholder="Escriba el nombre del parámetro"
                                           {% if new_parameter_form.name.value %}
                                           value="{{ new_parameter_form.name.value }}"{% endif %}
                                           type="text">
                                </div>
                                <!-- /Nombre del parámetro -->

                                <!-- Tipo de parámetro -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if new_parameter_form.parameter_type.errors %}
                                        {% for error in new_parameter_form.parameter_type.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Tipo de parámetro*</b></label>
                                    {{ new_parameter_form.parameter_type }}
                                </div>
                                <!-- /Tipo de parámetro -->

                                <!-- Descripción del parámetro -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if new_parameter_form.description.errors %}
                                        {% for error in new_parameter_form.description.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Descripción del parámetro*</b></label>
                                    {{ new_parameter_form.description }}
                                </div>
                                <!-- /Descripción del parámetro -->

                                <!-- Texto de ayuda parámetro -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if new_parameter_form.help_text.errors %}
                                        {% for error in new_parameter_form.help_text.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Texto de ayuda del parámetro (opcional)</b></label>
                                    {{ new_parameter_form.help_text }}
                                </div>
                                <!-- /Texto de ayuda parámetro -->

                                <!-- Posición -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if new_parameter_form.position.errors %}
                                        {% for error in new_parameter_form.position.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Posición*</b></label>
                                    <input name="{{ new_parameter_form.position.html_name }}"
                                           id="{{ new_parameter_form.position.id_for_label }}"
                                           class="form-control"
                                           placeholder="Indica el orden en el que aparecerá el parámetro al momento de ejecutarse el algoritmo."
                                           {% if new_parameter_form.position.value %}
                                           value="{{ new_parameter_form.position.value }}"{% endif %}
                                           type="number">
                                </div>
                                <!-- /Posición -->

                                <!-- Es obligatorio -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            {{ new_parameter_form.required }}<b>Este parámetro es obligatorio</b>
                                        </label>
                                        <p class="help-block">Si el parámetro es opcional desmarcar esta casilla.</p>
                                    </div>

                                </div>
                                <!-- /Es obligatorio -->

                                <!-- Esta habilitado -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            {{ new_parameter_form.enabled}}<b>Este parámetro está habilitado</b>
                                        </label>
                                        <p class="help-block">Para deshabilitar este parámetro, desmarcar esta
                                            casilla.</p>
                                    </div>

                                </div>
                                <!-- /Esta habilitado -->

                                <!-- Valor por defecto -->
                                <div class="form-group">
                                    <label for=""><b>Valor por defecto (opcional)</b></label>
                                    <input name="{{ new_parameter_form.default_value.html_name }}"
                                           id="{{ new_parameter_form.default_value.id_for_label }}"
                                           class="form-control"
                                           placeholder="Escriba el valor por defecto si lo require."
                                           {% if new_parameter_form.default_value.value %}
                                           value="{{ new_parameter_form.default_value.value }}"{% endif %}
                                           type="text">
                                </div>
                                <!-- /Valor por defecto -->

                                <!-- Nombre por defecto de función -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if new_parameter_form.function_name.errors %}
                                        {% for error in new_parameter_form.function_name.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Nombre por defecto en la función*</b></label>
                                    <input name="{{ new_parameter_form.function_name.html_name }}"
                                           id="{{ new_parameter_form.function_name.id_for_label }}"
                                           class="form-control"
                                           placeholder="Ingresa el nombre del parámetro en la función en Python."
                                           {% if new_parameter_form.function_name.value %}
                                           value="{{ new_parameter_form.function_name.value }}"{% endif %}
                                           type="text">
                                </div>
                                <!-- /Nombre por defecto de función -->

                                <div class="text-center">
                                    <button type="submit" class="btn btn-default">Crear Parámetro</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}