{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'algorithm:index' %}">Mis Algoritmos</a></li>
                <li class="active">Detalle de parámetro</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h3>Información del parámetro</h3>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Esta es la información del parámetro seleccionado:</p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Algoritmo:</td>
                            <td>{{ parameter.name }}</td>
                        </tr>
                        <tr>
                            <td>Versión del algoritmo:</td>
                            <td>{{ parameter.version.number }}</td>
                        </tr>
                        <tr>
                            <td>Nombre del parámetro:</td>
                            <td>{{ parameter.name }}</td>
                        </tr>
                        <tr>
                            <td>Tipo:</td>
                            <td>{{ parameter.get_parameter_type_display }}</td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td>{{ parameter.description|linebreaks }}</td>
                        </tr>
                        <tr>
                            <td>Texto de ayuda:</td>
                            <td>{{ parameter.help_text }}</td>
                        </tr>
                        <tr>
                            <td>Posición:</td>
                            <td>{{ parameter.position }}</td>
                        </tr>
                        <tr>
                            <td>Obligatorio:</td>
                            <td>{{ parameter.required|yesno:"Sí,No" }}</td>
                        </tr>
                        <tr>
                            <td>Habilitado:</td>
                            <td>{{ parameter.enabled|yesno:"Sí,No" }}</td>
                        </tr>
                        <tr>
                            <td>Se incluye en la salida:</td>
                            <td>{{ parameter.output_included|yesno:"Sí,No" }}</td>
                        </tr>
                        <tr>
                            <td>Valor por defecto:</td>
                            <td>{{ parameter.default_value }}</td>
                        </tr>
                        <tr>
                            <td>Nombre en la función:</td>
                            <td>{{ parameter.function_name }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Creación:</td>
                            <td>{{ parameter.created_at }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Modificación:</td>
                            <td>{{ parameter.updated_at }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}