{% extends 'base.html' %}

{% block content %}
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
                <li><a href="{% url 'algorithm:index' %}">Mis Algoritmos</a></li>
                <li class="active">Editar</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Editar Algoritmo</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <p>Edita la información del algoritmo:</p>
                    <!-- Success Messages  -->
                    {% if response %}
                        <div class="alert alert-success">
                            {{ response.message|escape }}
                        </div>
                    {% endif %}
                    <!-- /Success Messages -->
                    <div class="section light-gray-bg">
                        <div class="container">
                            <form role="form" class="form-horizontal col-md-6 col-md-offset-3" method="POST"
                                  action="{% url 'algorithm:update' algorithm.id %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Errors -->
                                {% if algorithm_form.errors %}
                                    {% for error in algorithm_form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- /Errors -->

                                <!-- Temática -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if algorithm_form.topic.errors %}
                                        {% for error in algorithm_form.topic.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for=""><b>Temática</b></label>
                                    <select name="{{ algorithm_form.topic.html_name }}"
                                            id="{{ algorithm_form.topic.id_for_label }}" class="form-control" disabled>
                                        <option value="{{ algorithm.topic.id }}">{{ algorithm.topic.name }}</option>
                                    </select>
                                </div>
                                <!-- /Temática -->

                                <!-- Nombre -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if algorithm_form.name.errors %}
                                        {% for error in algorithm_form.name.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for="">
                                        <b>
                                            Nombre <span class="text-danger small"> * </span>
                                            <a class="help-hover hidden-xs hidden-sm hidden-md"><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Ingrese el nombre del algoritmo."></i></a>
                                        </b>
                                    </label>
                                    <input name="{{ algorithm_form.name.html_name }}"
                                           id="{{ algorithm_form.name.id_for_label }}"
                                           class="form-control" placeholder="Escriba el nombre el algoritmo."
                                           value="{{ algorithm.name }}"
                                           type="text" maxlength="50" required>
                                </div>
                                <!-- /Nombre -->

                                <!-- Descripción Algoritmo -->
                                <div class="form-group">
                                    <!-- Errors -->
                                    {% if algorithm_form.description.errors %}
                                        {% for error in algorithm_form.description.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <!-- /Errors -->
                                    <label for="">
                                        <b>
                                            Descripción del algoritmo <span class="text-danger small"> * </span>
                                            <a class="help-hover hidden-xs hidden-sm hidden-md"><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Ingrese una descripción completa del objetivo del algoritmo para que los analistas conozcan para qué sirve. Sea lo más específico posible."></i></a>
                                        </b>
                                    </label>
                            <textarea name="{{ algorithm_form.description.html_name }}"
                                      id="{{ algorithm_form.description.id_for_label }}"
                                      class="form-control" rows="10" maxlength="750"
                                      placeholder="Ingresa una descripción que te ayude a identificar el objetivo del análisis que deseas realizar." required>{{ algorithm.description }}</textarea>
                                </div>
                                <!-- /Descripción Algoritmo -->

                                 <div class="text-center">
                                    <button type="submit" class="btn btn-default btn-lg">Actualizar Algoritmo</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- main end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->
{% endblock %}