{% extends 'base.html' %}
{% load staticfiles %}

{% block banner_block %}
<img class="overlay" src="{% static 'images/small-banner-home.jpg' %}">
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><i class="fa fa-home pr-10"></i><a href="/">Inicio</a></li>
      <li class="active">Tareas de Ingesta</li>
    </ol>
  </div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-ver-clear">
  <div class="container pv-40">
    <div class="row">
      <!-- main start -->
      <!-- ================ -->
      <div class="main col-md-12">
        <h3 class="title">Tareas de ingesta</h3>
        <div class="separator-2"></div>
        <p>A continuación se presentan la lista de tareas de ingesta.</p>
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right" style="margin-bottom: 10px;">
              {% if user.is_authenticated %}
              
              <a href="{% url 'ingest:task-create' %}" class="btn btn-default btn-md"><i class="fa fa-plus-circle"></i> Programar Nueva Tarea de Ingesta</a>
              
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="ingest" class="table table-striped table-colored">
                <thead>
                  <tr>
                    <th>Unidad de Almacenamiento</th>
                    <th>Estado</th>
                    <th>Fecha de Creación</th>
                    <th>Creada por</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- main end -->
    </div>
  </div>
</section>
<!-- main-container end -->
{% endblock %}

{% block extra_body %}
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script>
      $(document).ready(function() {
          var table = $('#ingest').DataTable({
              "serverSide": true,
              "ajax": "/api/ingest/task/?format=datatables",
              "columns": [
                {"data": "storage_unit.name"},
                {"data": "state"},
                {"data": "created_at"},
                {"data": "created_by.email", "searchable": false},
                {
                  "data": "id",
                  "searchable": false,
                  "sortable": false,
                  "render": function (id) {
                    html = `<a href=task/${id}/ class='btn btn-gray btn-sm'><i class='fa fa-bars'></i> Ver Detalle</a>`;
                    return html;
                  }
                }
              ],
              "language": {
                "decimal":        "",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "info":           "Mostrando del registro _START_ al _END_ de _TOTAL_ registros",
                "infoEmpty":      "Mostrando del registro 0 a 0 de 0 registros",
                "infoFiltered":   "(filtrando entre un total de _MAX_ registros)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ registros",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Último",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "buttons": {
                  "copy": "Copiar",
                  "print": "Imprimir"
                }
              }
          });
      });
  </script>
{% endblock %}